@page
@model IndexModel
@{
    ViewData["Title"] = "Bowling page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <style>
        .col {
            border: .5px solid;
            border-color: lightgrey;
            height: 180px;
            padding: 20px;
        }

        .col-1 {
            border-right: 1px solid;
            font-size: 30px;
            height: 50px;
        }

        .col-2 {
            border-left: 1px solid;
            font-size: 30px;
            height: 50px;
        }

        .col-3 {
            border-left: 2px solid;
            font-size: 30px;
            height: 50px;
        }

        p {
            margin-top: -10px;
        }

        .p2 {
            margin-left: -7px;
            margin-top: 2px;
        }

        .row {
            justify-content: center;
        }

        #btn-new {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        #btn-pins {
            justify-content: left;
        }

        #btn0 {
            border: 3px solid;
            border-color: lightsteelblue;
            border-radius: 100%;
            width: 60px;
            height: 60px;
        }

        #btn1 {
            border: 3px solid;
            border-color: lightsteelblue;
            border-radius: 100%;
            width: 60px;
            height: 60px;
        }

        #btn2 {
            border: 3px solid;
            border-color: lightsteelblue;
            border-radius: 100%;
            width: 60px;
            height: 60px;
        }

        #btn3 {
            border: 3px solid;
            border-color: lightsteelblue;
            border-radius: 100%;
            width: 60px;
            height: 60px;
        }

        #btn4 {
            border: 3px solid;
            border-color: lightsteelblue;
            border-radius: 100%;
            width: 60px;
            height: 60px;
        }

        #btn5 {
            border: 3px solid;
            border-color: lightsteelblue;
            border-radius: 100%;
            width: 60px;
            height: 60px;
        }

        #btn6 {
            border: 3px solid;
            border-color: lightsteelblue;
            border-radius: 100%;
            width: 60px;
            height: 60px;
        }

        #btn7 {
            border: 3px solid;
            border-color: lightsteelblue;
            border-radius: 100%;
            width: 60px;
            height: 60px;
        }

        #btn8 {
            border: 3px solid;
            border-color: lightsteelblue;
            border-radius: 100%;
            width: 60px;
            height: 60px;
        }

        #btn9 {
            border: 3px solid;
            border-color: lightsteelblue;
            border-radius: 100%;
            width: 60px;
            height: 60px;
        }

        #btn10 {
            border: 3px solid;
            border-color: lightsteelblue;
            border-radius: 100%;
            width: 60px;
            height: 60px;
        }

        #row-game-name {
            background-color: darkgrey;
            justify-content: left;
        }

    </style>


    <div class="text-center" id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row" id="btn-pins">
                        <button id="btn0" type="button" class="btn btn-secondary mr-1 btn-lg" data-toggle="tooltip" data-placement="bottom" title="No pins knocked down" onclick="pinsDown(0);" value="0" style="display: inline;">0 </button>
                        <button id="btn1" type="button" class="btn btn-secondary mr-1 btn-lg" data-toggle="tooltip" data-placement="bottom" title="1 pin knocked down" onclick="pinsDown(1);" value="1" style="display: inline;"> 1 </button>
                        <button id="btn2" type="button" class="btn btn-secondary mr-1 btn-lg" data-toggle="tooltip" data-placement="bottom" title="2 pins knocked down" onclick="pinsDown(2);" value="2" style="display: inline;">2</button>
                        <button id="btn3" type="button" class="btn btn-secondary mr-1 btn-lg" data-toggle="tooltip" data-placement="bottom" title="3 pins knocked down" onclick="pinsDown(3);" value="3" style="display: inline;">3</button>
                        <button id="btn4" type="button" class="btn btn-secondary mr-1 btn-lg" data-toggle="tooltip" data-placement="bottom" title="4 pins knocked down" onclick="pinsDown(4);" value="4" style="display: inline;">4</button>
                        <button id="btn5" type="button" class="btn btn-secondary mr-1 btn-lg" data-toggle="tooltip" data-placement="bottom" title="5 pins knocked down" onclick="pinsDown(5);" value="5" style="display: inline;">5</button>
                        <button id="btn6" type="button" class="btn btn-secondary mr-1 btn-lg" data-toggle="tooltip" data-placement="bottom" title="6 pins knocked down" onclick="pinsDown(6);" value="6" style="display: inline;">6</button>
                        <button id="btn7" type="button" class="btn btn-secondary mr-1 btn-lg" data-toggle="tooltip" data-placement="bottom" title="7 pins knocked down" onclick="pinsDown(7);" value="7" style="display: inline;">7</button>
                        <button id="btn8" type="button" class="btn btn-secondary mr-1 btn-lg" data-toggle="tooltip" data-placement="bottom" title="8 pins knocked down" onclick="pinsDown(8);" value="8" style="display: inline;">8</button>
                        <button id="btn9" type="button" class="btn btn-secondary mr-1 btn-lg" data-toggle="tooltip" data-placement="bottom" title="9 pins knocked down" onclick="pinsDown(9);" value="9" style="display: inline;">9</button>
                        <button id="btn10" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="10 pins knocked down" onclick="pinsDown(10);" value="10" style="display: inline;">10</button>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row" id="btn-new">
                        <button type="button" class="btn btn-success btn-md btn-lg" data-toggle="modal" data-target="#newGameModalCenter">New Game</button>
                    </div>
                </div>

                <div class="modal fade" id="newGameModalCenter" tabindex="-1" role="dialog" aria-labelledby="newGameModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="newGameModalLongTitle">Create New Game</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input class="form-control" id="txt-game-name" type="text" placeholder="Enter game name here." />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" onclick="createNewGame();" data-dismiss="modal">Create</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editGameModalCenter" tabindex="-1" role="dialog" aria-labelledby="editGameModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editGameModalLongTitle">Edit Game</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input class="form-control" id="txt-edit-name" type="text" autocomplete="off"/>
                            </div>
                            <div class="modal-footer">
                                <button id="modal-btn-edit" type="button" class="btn btn-primary" onclick="editGame(this);" data-dismiss="modal">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deleteGameModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteGameModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteGameModalLongTitle">Delete Game</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this game?</p>
                                <h4 id="modal-game-name">game name here</h4>
                            </div>
                            <div class="modal-footer">
                                <button id="modal-btn-delete" type="button" class="btn btn-danger" onclick="deleteGame(this);" data-dismiss="modal" data-id="">Yes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="container" id="ctn-frames" style="overflow:auto; height:550px; width:500%">
            <div class="container" id="r-frame-1" data-id="" hidden>
                <div class="row" id="row-game-name">
                    <div class="col-sm" style="text-align:left">
                        <button  type="button" class="btn btn-info" id="btn-edit" data-toggle="modal" data-target="#editGameModalCenter" onclick="setEditGame(this);">Edit</button>
                    </div>
                    <div class="col-lg-8">
                        <h4 id="hdr-game-1">Game 1</h4>
                    </div>
                    <div class="col-sm" style="text-align:right">
                        <button  type="button" class="btn btn-danger" id="btn-delete" data-toggle="modal" data-target="#deleteGameModalCenter" onclick="setDeleteGame(this)">Delete</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="p1">Frame 1</p>
                        <div class="row">
                            <div class="col-1"><p class="p2" id="f1-score-1">-</p></div>
                            <div class="col-2"><p class="p2" id="f1-score-2">-</p></div>
                        </div>
                        <h1 class="final" id="f1-final-score" style="margin-top:6px;">-</h1>
                    </div>
                    <div class="col">
                        <p>Frame 2</p>
                        <div class="row">
                            <div class="col-1"><p class="p2" id="f2-score-1">-</p></div>
                            <div class="col-2"><p class="p2" id="f2-score-2">-</p></div>
                        </div>
                        <h1 class="final" id="f2-final-score" style="margin-top:6px;">-</h1>
                    </div>
                    <div class="col">
                        <p>Frame 3</p>
                        <div class="row">
                            <div class="col-1"><p class="p2" id="f3-score-1">-</p></div>
                            <div class="col-2"><p class="p2" id="f3-score-2">-</p></div>
                        </div>
                        <h1 class="final" id="f3-final-score" style="margin-top:6px;">-</h1>
                    </div>
                    <div class="col">
                        <p>Frame 4</p>
                        <div class="row">
                            <div class="col-1"><p class="p2" id="f4-score-1">-</p></div>
                            <div class="col-2"><p class="p2" id="f4-score-2">-</p></div>
                        </div>
                        <h1 class="final" id="f4-final-score" style="margin-top:6px;">-</h1>
                    </div>
                    <div class="col">
                        <p>Frame 5</p>
                        <div class="row">
                            <div class="col-1"><p class="p2" id="f5-score-1">-</p></div>
                            <div class="col-2"><p class="p2" id="f5-score-2">-</p></div>
                        </div>
                        <h1 class="final" id="f5-final-score" style="margin-top:6px;">-</h1>
                    </div>
                    <div class="col">
                        <p>Frame 6</p>
                        <div class="row">
                            <div class="col-1"><p class="p2" id="f6-score-1">-</p></div>
                            <div class="col-2"><p class="p2" id="f6-score-2">-</p></div>
                        </div>
                        <h1 class="final" id="f6-final-score" style="margin-top:6px;">-</h1>
                    </div>
                    <div class="col">
                        <p>Frame 7</p>
                        <div class="row">
                            <div class="col-1"><p class="p2" id="f7-score-1">-</p></div>
                            <div class="col-2"><p class="p2" id="f7-score-2">-</p></div>
                        </div>
                        <h1 class="final" id="f7-final-score" style="margin-top:6px;">-</h1>
                    </div>
                    <div class="col">
                        <p>Frame 8</p>
                        <div class="row">
                            <div class="col-1"><p class="p2" id="f8-score-1">-</p></div>
                            <div class="col-2"><p class="p2" id="f8-score-2">-</p></div>
                        </div>
                        <h1 class="final" id="f8-final-score" style="margin-top:6px;">-</h1>
                    </div>
                    <div class="col">
                        <p>Frame 9</p>
                        <div class="row">
                            <div class="col-1"><p class="p2" id="f9-score-1">-</p></div>
                            <div class="col-2"><p class="p2" id="f9-score-2">-</p></div>
                        </div>
                        <h1 class="final" id="f9-final-score" style="margin-top:6px;">-</h1>
                    </div>
                    <div class="col">
                        <p>Frame 10</p>
                        <div class="row">
                            <div class="col-1"><p class="p2" id="f10-score-1">-</p></div>
                            <div class="col-2"><p class="p2" id="f10-score-2">-</p></div>
                            <div class="col-3"><p class="p2" id="f10-score-3">-</p></div>
                        </div>
                        <h1 class="final" id="f10-final-score" style="margin-top:6px;">-</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <script>
        $(document).ready(function() {
             $.ajax({
                type: "GET",
                url: "@Url.Action("Get", "Games")",
                success: function(data, status, xhr) {
                    console.log(data);
                    for(let i = 0; i < data.length; i++) {
                         const div = document.getElementById('r-frame-1');
                         const clone = div.cloneNode(true);
                         clone.id = data[i].id;
                         document.getElementById('ctn-frames').appendChild(clone);
                         setGameLabels(data[i].name, data[i].id);
                         
                         let frameParent = document.getElementById(data[i].id);
                         frameParent.removeAttribute('hidden');
                         frameParent.querySelector('#btn-delete').setAttribute('data-id', data[i].id);
                         frameParent.querySelector('#btn-edit').setAttribute('data-id', data[i].id);
                         $('#' + data[i].id).attr('data-id', data[i].id); // sets 
                         $('#btn-delete').attr('data-id', data[i].id); // sets 
                    } 
                }
            });
        });

        let frameIndex = 1;
        let _frameName = "r-frame-1";
        
        function createNewGame() {
            frameIndex++;

            let frameName = $("#txt-game-name").val();
            _frameName = frameName;
            console.log(_frameName);

            $.ajax({
                type: "POST",
                url: "@Url.Action("Post", "Games")",
                data:
                {
                    'name': frameName
                },
                success: function(data, status, xhr) {
                    console.log('data: ', data);
                    _frameName = data.id;
                    const div = document.getElementById('r-frame-1');
                    const clone = div.cloneNode(true);
                    clone.id = _frameName;
                    document.getElementById('ctn-frames').appendChild(clone);
                    clearElements();
                    isEndGame = false;
                    resetGame();

                    setGameLabels(data.name, data.id);

                    let frameParent = document.getElementById(data.id);
                    frameParent.querySelector('#btn-delete').setAttribute('data-id', data.id);
                    frameParent.querySelector('#btn-edit').setAttribute('data-id', data.id);
                    $('#' + data.id).attr('data-id', data.id);

                    frameParent.removeAttribute('hidden');
                }
            });
        }

        function setGameLabels(newGameName, newGameId) {
            let frameParent = document.getElementById(newGameId);
            frameParent.querySelector("#hdr-game-1").innerHTML = newGameName;
        }

        function editGame(element){
            var id = $(element).attr("data-id");
            console.log("game id " + id);
             var name = $("#txt-edit-name").val();
            console.log("game id " + name);
             $.ajax({
                type: "PUT",
                url: "@Url.Action("Put", "Games")",
                data:
                {
                    'id': id, 
                    'name': name
                },
                success: function(data, status, xhr) {
                    setGameLabels(data.name, data.id);
                }
            });
        }


         function deleteGame(element){
             var id = $(element).attr("data-id");
             var name = $("#txt-edit-name").val();
             $.ajax({
                type: "DELETE",
                url: "@Url.Action("Delete", "Games")",
                data: 
                {
                    'input': id 
                },
                success: function(data, status, xhr) {
                    location.reload();
                }
            });
        }

        function setEditGame(element){

            var i = $(element).attr("data-id");
            let frameParent = document.getElementById(i);
            let name = frameParent.querySelector("#hdr-game-1").innerHTML;
            $("#txt-edit-name").val(name);
            $('#modal-btn-edit').attr('data-id', i);
        }

        function setDeleteGame(element){
            var i = $(element).attr("data-id");
            console.log(i);
            let frameParent = document.getElementById(i);
            let name = frameParent.querySelector("#hdr-game-1").innerHTML;
            console.log("game name for delete" + name);
            $("#modal-game-name").text(name);
            $('#modal-btn-delete').attr('data-id', i);
        }

        function clearElements() {
            let newFrameParent = document.getElementById(_frameName);
            let newFrameChildrenScore = newFrameParent.querySelectorAll(".p2");
            for (let i = 0; i < newFrameChildrenScore.length; i++) {
                newFrameChildrenScore[i].innerHTML = "-";
            }

            let newFrameChildrenFinalScore = newFrameParent.querySelectorAll(".final");
            for (let i = 0; i < newFrameChildrenFinalScore.length; i++) {
                newFrameChildrenFinalScore[i].innerHTML = "-";
            }
        }

        function resetGame() {
            mainShotIndex = 0;
            firstShot = 0;
            secondShot = 0;
            frame = 1;
            shotIndex = 1;
            strikeIndex = 0;
            wasStrike = false;
            isStrike = false;
            isSpare = false;
            wasSpare = false;
            previousScore = 0;
            showAll();
        }

        let mainShotIndex = 0;
        let firstShot = 0;
        let secondShot = 0;
        let frame = 1;
        let shotIndex = 1;
        let strikeIndex = 0;
        let wasStrike = false;
        let isStrike = false;
        let isSpare = false;
        let wasSpare = false;
        let previousScore = 0;
        let isEndGame = false;


        function pinsDown(pins) {
            if (isEndGame) return;
            let frameParent = document.getElementById(_frameName);
            mainShotIndex++;

            if (frame == 10) {
                processLastFrame(pins);
                return;
            }

            if (shotIndex == 1) {
                secondShot = 0;
                firstShot = pins;
                shotIndex = 2;

                if (pins == 10) {
                    isStrike = true;
                    wasStrike = true; //for strikes with normal shots.
                    shotIndex = 1;
                    frameParent.querySelector("#f" + frame + "-score-2").innerHTML = "X"
                    showAll();

                    //spare and strike
                    if (mainShotIndex == 3 && !isSpare) { //all strikes with other shots.
                        console.log("mainshotindex from 1st roll normal - " + mainShotIndex);
                        wasStrike = true;
                        mainShotIndex = 2;
                        previousScore = previousScore + 10;
                        getStrikeScore(2);
                    }
                    else if (mainShotIndex == 3 && isSpare) {
                        console.log("mainshotindex first strike" + mainShotIndex);
                        getSpareScore(firstShot);
                        mainShotIndex = 1;
                    }
                    else if (mainShotIndex == 1 && isSpare) {
                        console.log("spare?" + isSpare);
                        console.log("shot index " + mainShotIndex);
                        getSpareScore(firstShot);
                        mainShotIndex = 1;
                    }

                    frame++;
                }
                else {
                    if (mainShotIndex == 3) { //for strikes with normal shots.
                        console.log("mainshotindex from 1st roll normal - " + mainShotIndex);
                        if (wasStrike) {
                            isStrike = true;
                            mainShotIndex = 2;
                            previousScore = previousScore + 10;
                            getStrikeScore(2);
                        }
                    }

                    if (isSpare) {
                        console.log("is spare? " + isSpare);
                        getSpareScore(firstShot);
                    }

                    frameParent.querySelector("#f" + frame + "-score-1").innerHTML = pins;
                }

            }
            else if (shotIndex == 2) {
                secondShot = pins;
                shotIndex = 1;
                frameParent.querySelector("#f" + frame + "-score-2").innerHTML = pins;

                if (mainShotIndex == 3) {
                    if (wasStrike) { //2nd shot of strikes with normal.
                        console.log("mainshotindex from 2nd roll - " + mainShotIndex);
                        isStrike = true;
                        mainShotIndex = 0;
                        getStrikeScore(1);
                        wasStrike = false;
                    }
                }

                isSpare = (firstShot + secondShot == 10);
                if (isSpare) {
                    frameParent.querySelector("#f" + frame + "-score-2").innerHTML = "/";

                    mainShotIndex = 0;
                }
                else { //for 2nd shot normal.
                    console.log(isSpare);
                    getNormalScore();
                    mainShotIndex = 0;
                }

                frame++;
            }

            hideAll();
            let rP = (10 - pins);
            setPins(rP);

            if (shotIndex == 1) {
                showAll();
            }
        }

        function hideAll() {
            for (let i = 0; i <= 10; i++) {
                document.getElementById("btn" + i).style.display = "none";
            }
        }

        function showAll() {
            for (let i = 0; i <= 10; i++) {
                document.getElementById("btn" + i).style.display = "block";
            }
        }

        function setPins(rP) {
            for (let i = 0; i <= rP; i++) {
                document.getElementById("btn" + i).style.display = "block";
            }
        }

        function getSpareScore(nextScore) {
            if (!isSpare) return;
            let spareScore = (previousScore + 10 + nextScore);
            let frameParent = document.getElementById(_frameName);
            frameParent.querySelector("#f" + (frame - 1) + "-final-score").innerHTML = spareScore;
            previousScore = spareScore;
            isSpare = false;
        }

        function getNormalScore() {
            let normalScore = (previousScore + firstShot + secondShot);
            let frameParent = document.getElementById(_frameName);
            frameParent.querySelector("#f" + (frame) + "-final-score").innerHTML = normalScore;
            previousScore = normalScore;
        }

        function getStrikeScore(frameOffset) {

            if (!isStrike) return;
            let strikeScore = (previousScore + 10 + firstShot + secondShot);
            let frameParent = document.getElementById(_frameName);
            frameParent.querySelector("#f" + (frame - frameOffset) + "-final-score").innerHTML = strikeScore;
            previousScore = strikeScore;
            isStrike = false;
        }

        function getAllStrikeScores() {
            if (strikeIndex > 2) {
                let frameParent = document.getElementById(_frameName);
                let allStrikeScore = (previousScore + 10 + firstShot + firstShot);
                frameParent.querySelector("#f" + (frame - 3) + "-final-score").innerHTML = allStrikeScore;
                previousScore = allStrikeScore;
                wasStrike = false;
            }
        }

        function processLastFrame(pins) {
            if (isEndGame) return;
            let frameParent = document.getElementById(_frameName);
            if (shotIndex == 1) {
                firstShot = pins;
                if (pins == 10) {
                    frameParent.querySelector("#f" + frame + "-score-1").innerHTML = "X";
                    secondShot = 0;
                    isStrike = true;
                    wasStrike = true;

                    console.log("1st mainshotIndex " + mainShotIndex);
                    if (mainShotIndex == 3) {
                        previousScore = previousScore + 10;
                        getStrikeScore(2);

                        mainShotIndex = 2;
                    }
                }
                else {
                    hideAll();
                    let rP = (10 - pins);
                    setPins(rP);

                    console.log(wasStrike);
                    frameParent.querySelector("#f" + frame + "-score-1").innerHTML = pins;
                    if (wasStrike) {
                        console.log("else 10th frame.");
                        previousScore = previousScore + 10;
                        isStrike = true;
                        getStrikeScore(2);

                        mainShotIndex = 2;
                    }

                    if (isSpare) {
                        console.log("pumasok ba dito?" + mainShotIndex);
                        getSpareScore(firstShot);
                    }

                }
                shotIndex = 2;
            }
            else if (shotIndex == 2) {
                secondShot = pins;
                if (pins == 10) {
                    isStrike = true;
                    wasStrike = true;
                    frameParent.querySelector("#f" + frame + "-score-2").innerHTML = "X";
                    console.log("2nd mainshotIndex " + mainShotIndex);

                    if (mainShotIndex == 3) {
                        getStrikeScore(1);

                        mainShotIndex = 2;
                    }

                    shotIndex = 3;
                }
                else {
                    frameParent.querySelector("#f" + frame + "-score-2").innerHTML = pins;
                    isSpare = (firstShot + secondShot == 10);
                    if (mainShotIndex == 3 && wasStrike) {
                        isStrike = true;
                        getStrikeScore(1);

                        mainShotIndex = 2;
                    }
                    if (isSpare) {
                        frameParent.querySelector("#f" + frame + "-score-2").innerHTML = "/";

                        showAll();
                        console.log("fhhefjaleijf");
                        mainShotIndex = 2;
                        shotIndex = 3;
                    }
                    else {
                        getNormalScore();
                        isEndGame = true;
                        showAll();
                    }
                }
            }
            else if (shotIndex == 3) {
                if (pins == 10) {
                    isStrike = true;
                    wasStrike = true;
                    frameParent.querySelector("#f" + frame + "-score-3").innerHTML = "X";

                    if (mainShotIndex == 3 && !isSpare) {
                        console.log("im here.");
                        getStrikeScore(0);

                        shotIndex = 3;
                        mainShotIndex = 2;
                    }

                    if (isSpare) {

                        getSpareScore(firstShot);
                    }
                }
                else {
                    frameParent.querySelector("#f" + frame + "-score-3").innerHTML = pins;
                    console.log("pumasok ba dito?" + mainShotIndex);
                    if (isSpare) {
                        frame++;
                        getSpareScore(pins);
                    }

                    isEndGame = true;
                }

                isEndGame = true;
            }
        }
    </script>
}
