@page
@model IndexModel
@{
    ViewData["Title"] = "Bowling page";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <style>
        .col {
            border: .5px solid;
            border-color: lightgrey;
            height: 180px;
            padding: 20px;
        }

        .col-1 {
            border-right: 1px solid;
            font-size: 30px;
            height: 50px;
        }

        .col-2 {
            border-left: 1px solid;
            font-size: 30px;
            height: 50px;
        }

        p {
            margin-top: -10px;
        }

        .p2 {
            margin-left: -7px;
            margin-top: 2px;
        }

        .row {
            justify-content: center;
        }

    </style>

    <div class="text-center">
        <br />
        <div class="row">
            <button id="btn0" type="button" class="btn btn-default mr-1" data-toggle="tooltip" data-placement="bottom" title="No pins knocked down" onclick="hS(0);" value="0" style="display: inline;">0</button>
            <button id="btn1" type="button" class="btn btn-default mr-1" data-toggle="tooltip" data-placement="bottom" title="1 pin knocked down" onclick="hS(1);" value="1" style="display: inline;">1</button>
            <button id="btn2" type="button" class="btn btn-default mr-1" data-toggle="tooltip" data-placement="bottom" title="2 pins knocked down" onclick="hS(2);" value="2" style="display: inline;">2</button>
            <button id="btn3" type="button" class="btn btn-default mr-1" data-toggle="tooltip" data-placement="bottom" title="3 pins knocked down" onclick="hS(3);" value="3" style="display: inline;">3</button>
            <button id="btn4" type="button" class="btn btn-default mr-1" data-toggle="tooltip" data-placement="bottom" title="4 pins knocked down" onclick="hS(4);" value="4" style="display: inline;">4</button>
            <button id="btn5" type="button" class="btn btn-default mr-1" data-toggle="tooltip" data-placement="bottom" title="5 pins knocked down" onclick="hS(5);" value="5" style="display: inline;">5</button>
            <button id="btn6" type="button" class="btn btn-default mr-1" data-toggle="tooltip" data-placement="bottom" title="6 pins knocked down" onclick="hS(6);" value="6" style="display: inline;">6</button>
            <button id="btn7" type="button" class="btn btn-default mr-1" data-toggle="tooltip" data-placement="bottom" title="7 pins knocked down" onclick="hS(7);" value="7" style="display: inline;">7</button>
            <button id="btn8" type="button" class="btn btn-default mr-1" data-toggle="tooltip" data-placement="bottom" title="8 pins knocked down" onclick="hS(8);" value="8" style="display: inline;">8</button>
            <button id="btn9" type="button" class="btn btn-default mr-1" data-toggle="tooltip" data-placement="bottom" title="9 pins knocked down" onclick="hS(9);" value="9" style="display: inline;">9</button>
            <button id="btn10" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="10 pins knocked down" onclick="hS(10);" value="10" style="display: inline;">10</button>
        </div>
        <h1 class="display-6">Scoreboard</h1>
        <div class="container container-fluid">
            <br />
            <div class="row">
                <div class="col">
                    <p class="p1">Frame 1</p>
                    <div class="row">
                        <div class="col-1"><p class="p2" id="f1-score-1">-</p></div>
                        <div class="col-2"><p class="p2" id="f1-score-2">-</p></div>
                    </div>
                    <h1 id="f1-final-score" style="margin-top:6px;"><u>0</u></h1>
                </div>
                <div class="col">
                    <p>Frame 2</p>
                    <div class="row">
                        <div class="col-1"><p class="p2" id="f2-score-1">-</p></div>
                        <div class="col-2"><p class="p2" id="f2-score-2">-</p></div>
                    </div>
                    <h1 id="f2-final-score" style="margin-top:6px;"><u>0</u></h1>
                </div>
                <div class="col">
                    <p>Frame 3</p>
                    <div class="row">
                        <div class="col-1"><p class="p2" id="f3-score-1">-</p></div>
                        <div class="col-2"><p class="p2" id="f3-score-2">-</p></div>
                    </div>
                    <h1 id="f3-final-score" style="margin-top:6px;"><u>0</u></h1>
                </div>
                <div class="col">
                    <p>Frame 4</p>
                    <div class="row">
                        <div class="col-1"><p class="p2" id="f4-score-1">-</p></div>
                        <div class="col-2"><p class="p2" id="f4-score-2">-</p></div>
                    </div>
                    <h1 id="f4-final-score" style="margin-top:6px;"><u>0</u></h1>
                </div>
                <div class="col">
                    <p>Frame 5</p>
                    <div class="row">
                        <div class="col-1"><p class="p2" id="f5-score-1">-</p></div>
                        <div class="col-2"><p class="p2" id="f5-score-2">-</p></div>
                    </div>
                    <h1 id="f5-final-score" style="margin-top:6px;"><u>0</u></h1>
                </div>
                <div class="col">
                    <p>Frame 6</p>
                    <div class="row">
                        <div class="col-1"><p class="p2" id="f6-score-1">-</p></div>
                        <div class="col-2"><p class="p2" id="f6-score-2">-</p></div>
                    </div>
                    <h1 id="f6-final-score" style="margin-top:6px;"><u>0</u></h1>
                </div>
                <div class="col">
                    <p>Frame 7</p>
                    <div class="row">
                        <div class="col-1"><p class="p2" id="f7-score-1">-</p></div>
                        <div class="col-2"><p class="p2" id="f7-score-2">-</p></div>
                    </div>
                    <h1 id="f7-final-score" style="margin-top:6px;"><u>0</u></h1>
                </div>
                <div class="col">
                    <p>Frame 8</p>
                    <div class="row">
                        <div class="col-1"><p class="p2" id="f8-score-1">-</p></div>
                        <div class="col-2"><p class="p2" id="f8-score-2">-</p></div>
                    </div>
                    <h1 id="f7-final-score" style="margin-top:6px;"><u>0</u></h1>
                </div>
                <div class="col">
                    <p>Frame 9</p>
                    <div class="row">
                        <div class="col-1"><p class="p2" id="f9-score-1">-</p></div>
                        <div class="col-2"><p class="p2" id="f9-score-2">-</p></div>
                    </div>
                    <h1 id="f9-final-score" style="margin-top:6px;"><u>0</u></h1>
                </div>
                <div class="col">
                    <p>Frame 10</p>
                    <div class="row">
                        <div class="col-1"><p class="p2" id="f10-score-1">-</p></div>
                        <div class="col-2"><p class="p2" id="f10-score-2">-</p></div>
                    </div>
                    <h1 id="f10-final-score" style="margin-top:6px;"><u>0</u></h1>
                </div>
            </div>
        </div>
        <br />
    </div>

</body>
</html>

@section Scripts {
    <script>
        let firstHit = 0;
        let secondHit = 0;

        let frame = 1;
        let hit = 1;

        let isSpare = false;

        function hS(pins) {
            if (hit == 1) {
                firstHit = pins;
                hit = 2;
                if (pins == 10) {
                    hit = 1;
                    document.getElementById("f" + frame + "-score-2").innerHTML = "X";
                    showAll();
                    frame++;
                }
                else { 
                    document.getElementById("f" + frame + "-score-1").innerHTML = pins;
                }

                if (isSpare){
                    console.log("dumman dito");
                    console.log(isSpare);
                    getSpareScore(firstHit);
                    isSpare = false;
                }

            }
            else if (hit == 2) {
                secondHit = pins;
                hit = 1;
                document.getElementById("f" + frame + "-score-2").innerHTML = pins;

                isSpare = (firstHit + secondHit == 10);
                if (isSpare) {
                    document.getElementById("f" + frame + "-score-2").innerHTML = "/";
                    //score = previous score + 10 + next score;
                }

                frame++;
            }

            hideAll();
            let rP = (10 - pins);
            setPins(rP);

            if (hit == 1) {
                showAll();
            }


        }

        function hideAll() {
            for (let i = 0; i <= 10; i++) {
                document.getElementById("btn" + i).style.display = "none";
            }
        }

        function showAll() {
            for (let i = 0; i <= 10; i++) {
                document.getElementById("btn" + i).style.display = "block";
            }
        }

        function setPins(rP) {
            for (let i = 0; i <= rP; i++) {
                document.getElementById("btn" + i).style.display = "block";
            }
        }

        function getSpareScore(nextScore) {
            let spareScore = (10 + nextScore);
            let elem = "f" + (frame - 1) + "-final-score";
            document.getElementById(elem).innerHTML = spareScore;
        }
    </script>
}
